/*Отступ сверху для Breadcrumbs*/
.container .row ol {
	margin-top:20px;
}
/*Расстояние между иконкой и ссылкой Регистрация*/
#authLink .navbar-link {
	padding-left:0;
}
#authLink span {padding-top:18px;}
/*Расстояние между предыдущим компонентом на странице О НАС*/
.section,
.section-colored {
  padding: 50px 0;
}
/*Горизонтальаня полоса с текстом на странице О НАС*/
.section-colored {
    background-color:#6699FF;
    color:#FFF;
}
/*Форматирование отступов между фотографиями магазинов на странице О НАС*/
.photo-magazine {
	padding:0 10px 20px 10px;
}
/*Выравнивание плиток в виджете Самые продаваемые*/
.sold {/*Сокращаем отступ от правой границы левой плитки*/
	margin: 0 15px 0 15px;
}
/*Выравнивание заголовка новостей (убираем большой отступ сверху)*/
.head-news {
	margin-top:0;
}
/*Выравнивание страницы под навбар*/
body {padding-top:50px;}